{% extends 'base.html.twig' %}

{% block title %}Éditer la facture{% endblock %}

{% block body %}
    <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
		<h1 class="h2">Éditer la facture</h1>
        {{ include('invoice/_delete_form.html.twig') }}
	</div>
    {{ include('invoice/_form.html.twig', {'button_label': 'Update'}) }}
{% endblock %}

{% block javascripts %}
	{{ parent() }}
	{{ encore_entry_script_tags('invoice') }}
{% endblock %}