{% extends 'base.html.twig' %}

{% block title %}Notes de service{% endblock %}

{% block body %}
	<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
		<h1 class="h2">Notes de service</h1>
	</div>
	<div class="row">
		{% for service_note in service_notes %}
			<div class="col-sm-4">
				<div class="card">
					<div class="card-header">
						{{ service_note.object }}
					</div>
					<div class="card-body">
						<p class="card-text">{{ service_note.content|slice(0, 150) ~ (service_note.content|length > 150 ? '...' : '') }}</p>
						<a href="{{ path('app_service_note_show', {'id': service_note.id}) }}" class="btn btn-outline-primary">Lire {{ bootstrap_icon('eye') }}</a>
					</div>
				</div>
			</div>
		{% else %}
			<div class="col-sm-4">
				<div class="card">
					<div class="card-body">
						<p class="card-text">Aucun élément.</p>
					</div>
				</div>
			</div>
		{% endfor %}
	</div>
{% endblock %}
