{% extends 'base.html.twig' %}

{% block title %}ServiceNote{% endblock %}

{% block body %}
    <h1>ServiceNote</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ service_note.id }}</td>
            </tr>
            <tr>
                <th>Object</th>
                <td>{{ service_note.object }}</td>
            </tr>
            <tr>
                <th>Content</th>
                <td>{{ service_note.content }}</td>
            </tr>
        </tbody>
    </table>
    <a href="{{ path('app_service_note_index') }}">back to list</a>
{% endblock %}
