<div class="row">
    <div class="col-sm-4">
        {{ form_row(invoiceLine.description) }}
    </div>
    <div class="col-sm-4">
        {{ form_row(invoiceLine.price) }}
    </div>
    <div class="col-sm-4">
        {{ form_row(invoiceLine.quantity) }}
    </div>
</div>