<div class="row">
    <div class="col-sm-6">
        {{ form_row(form.invoiceLines.vars.prototype.description) }}
    </div>
    <div class="col-sm-3">
        {{ form_row(form.invoiceLines.vars.prototype.price) }}
    </div>
    <div class="col-sm-2">
        {{ form_row(form.invoiceLines.vars.prototype.quantity) }}
    </div>
</div>
