{% extends 'base.html.twig' %}

{% block title %}Éditer l'actualité{% endblock %}

{% block body %}
    <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
		<h1 class="h2">Éditer l'actualité</h1>
        <div class="btn-toolbar mb-2 mb-md-0">
            {{ include('admin/news/_delete_form.html.twig') }}
		</div>
	</div>
    {{ include('admin/news/_form.html.twig') }}
{% endblock %}
