{% extends 'base.html.twig' %}

{% block title %}Edit HolidaysPeriod{% endblock %}

{% block body %}
    <h1>Edit HolidaysPeriod</h1>

    {{ include('holidays_period/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_holidays_period_index') }}">back to list</a>

    {{ include('holidays_period/_delete_form.html.twig') }}
{% endblock %}
