{% extends 'base.html.twig' %}

{% block title %}New HolidaysPeriod{% endblock %}

{% block body %}
    <h1>Create new HolidaysPeriod</h1>

    {{ include('holidays_period/_form.html.twig') }}

    <a href="{{ path('app_holidays_period_index') }}">back to list</a>
{% endblock %}
