{% extends 'base.html.twig' %}

{% block title %}Actualités{% endblock %}

{% block body %}
	<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
		<h1 class="h2">Actualités</h1>
	</div>
	{% for news in news %}
		<div class="col-sm-4">
			<div class="card">
				<div class="card-header">
					{{ news.title }}
				</div>
				<div class="card-body">
					<p class="card-text">{{ news.content|slice(0, 150) ~ (news.content|length > 150 ? '...' : '') }}</p>
					<a href="{{ path('app_news_show', {'id': news.id}) }}" class="btn btn-outline-primary">Lire {{ bootstrap_icon('eye') }}</a>
				</div>
			</div>
		</div>
	{% else %}
		<tr>
			<td colspan="5">Aucun élément.</td>
		</tr>
	{% endfor %}
{% endblock %}
