{% extends 'base.html.twig' %}

{% block title %}Edit PlannedSlot{% endblock %}

{% block body %}
    <h1>Edit PlannedSlot</h1>

    {{ include('planned_slot/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_planned_slot_index') }}">back to list</a>

    {{ include('planned_slot/_delete_form.html.twig') }}
{% endblock %}
