{% extends 'base.html.twig' %}

{% block title %}New PlannedSlot{% endblock %}

{% block body %}
    <h1>Create new PlannedSlot</h1>

    {{ include('planned_slot/_form.html.twig') }}

    <a href="{{ path('app_planned_slot_index') }}">back to list</a>
{% endblock %}
