{% extends 'base.html.twig' %}

{% block title %}Edit ServiceNote{% endblock %}

{% block body %}
    <h1>Edit ServiceNote</h1>

    {{ include('admin/service_note/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_admin_service_note_index') }}">back to list</a>

    {{ include('admin/service_note/_delete_form.html.twig') }}
{% endblock %}
